.column {
    float: left;
    width: 25%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
	text-align: center;
}

h4 {
 text-align: center;
}

h3 {
  text-align: center;
}

P {
	text-align: center;

}